@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-screen;
}

body {
  background: rgb(255, 255, 255);
}

#__next {
  @apply h-screen flex flex-col;
}

a,
a:visited {
  @apply px-3 inline-block text-center align-middle;
}

button:focus + ul {
  opacity: 1;
  pointer-events: all;
}
.filter-white{
  filter: invert(100%) sepia(0%) saturate(4065%) hue-rotate(58deg) brightness(105%) contrast(109%);
}